# --- IDEs e Editores ---
.vscode/
.idea/
*.iml
*.swp
*.swo
.DS_Store

# --- C++ (Compilados e Binários) ---
*.exe
*.out
*.app
*.o
*.obj
# Pasta de build do CMake ou outras ferramentas
build/
CMakeLists.txt.user

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv
venv/
ENV/
env/
build/
dist/
*.egg-info/

# --- Arquivos de Sistema ---
Thumbs.db
desktop.ini